<div class="modal-header">
    <h3 class="modal-title" id="modal-title">სტრიქონის რედაქტირება</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        <label for="title-input">სათაური</label>
        <input type="text" ng-model="title" class="form-control" placeholder="შეიყვანეთ სათაური" ng-model="title" id="title-input" autofocus>
    </div>
    <div class="form-group">
        <label for="text-input">ტექსტი</label>
        <input type="text" ng-model="text" class="form-control" placeholder="შეიყვანეთ ტექსტი" ng-model="text" id="text-input">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="edit()">რედაქტირება</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">გაუქმება</button>
</div>