<div class="modal-header">
    <h3 class="modal-title" id="modal-title">პროექტის სახელის რედაქტირება</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        <label for="name-input">სათაური</label>
        <input type="text" class="form-control" ng-model="name" id="title-input" autofocus>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="edit()">რედაქტირება</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">გაუქმება</button>
</div>